/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: #0c0c08 !important;
    width: 100%;
    min-height: 100vh;
    font-family: 'Spline Sans', sans-serif !important;
}

.logo{
    	text-transform: uppercase;
	background: linear-gradient(to right, #c7d300 0%, #3d4001 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
    font-weight: bolder;
}